@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  //  --primary-color: rgba(158, 117, 240, var(--gradient-opacity));
  //  --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  //  --accent-color: rgba(128, 59, 239, var(--gradient-opacity));
  //  --primary-color: rgba(58, 146, 196, var(--gradient-opacity));
  //  --secondary-color: rgba(38, 103, 150, var(--gradient-opacity));
  //  --accent-color: rgba(12, 135, 189, var(--gradient-opacity));
  //  --primary-color: rgba(108, 186, 196, var(--gradient-opacity));
  //  --secondary-color: rgba(108, 183, 150, var(--gradient-opacity));
  //  --accent-color: rgba(242, 185, 189, var(--gradient-opacity));
  --primary-color: rgba(58, 196, 156, var(--gradient-opacity));
  --secondary-color: rgba(28, 153, 150, var(--gradient-opacity));
  --accent-color: rgba(22, 135, 109, var(--gradient-opacity));
}
